.common {
  padding: 24px;
  color: snow;
  font-size: 18px;
  line-height: 200%;
}

.title {
  font-size: 20px;
  line-height: 300%;
}

.goldenrod {
  color: goldenrod;
}

.blue {
  color: cornflowerblue;
  text-decoration: none;
}
